<div class="container-fluid">
    <div class="row mt-3 align-self-center">
        <img class="title" src="/img/classTitle.png">
    </div>

    <div class="container-fluid">
        <div class="row mt-3 justify-content-center">
            <div class="col-6 mb-3 align-self-center">
                <div class="input-group">
                    <input type="text" id="filterClass" class="form-control" placeholder="Search Class">
                </div>
            </div>
        </div>
    </div>
    <!-- Class Carousel -->
    <div id="carousel" class="container-fluid">
        <app-carousel *ngFor="let i of classes;" [test]="i"></app-carousel>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eleminar Clase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class=text-danger>¿Esta seguro?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete user</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateFormModal" tabindex="-1" role="dialog" aria-labelledby="updateFormModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateFormModal">Editar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" name="nombre" id="1" class="form-control"
                                placeholder="Nombre o nombres" aria-describedby="helpId" required>
                        </div>
                        <div class="col-6">
                            <input type="text" name="apellidos" id="2" class="form-control" placeholder="Apellidos"
                                aria-describedby="helpId" required>
                        </div>
                    </div>
                    <input type="password" name="password1" id="3" class="form-control mt-3"
                        placeholder="Contraseña" aria-describedby="helpId" required>
                    <input type="password" name="password2" id="4" class="form-control mt-3"
                        placeholder="Confirmar contraseña" aria-describedby="helpId" required>
                    <input type="date" class="form-control mt-3" placeholder="YYYY-MM-DD" name="fecha" id="">

                    <input type="url" name="image" id="5" class="form-control mt-3"
                        placeholder="Url de imagen de perfil" aria-describedby="helpId">


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>