<div class="d-flex justify-content-center align-items-center">
    <div class="card text-white bg-dark text-center">
        <div class="card-body">
            <h4 class="card-title">Dice rolls</h4>
            <p class="card-text">Write here your rolls</p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Roll:</span>
                </div>
                <input type="text" class="form-control" placeholder="1d20" aria-label="Username"
                    aria-describedby="basic-addon1" id="rollInput">
            </div>
            <a class="btn btn-success mb-3" id="roll">Roll!</a>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Result:</span>
                </div>
                <input type="text" class="form-control" placeholder="Your result will show here"
                    aria-label="Username" aria-describedby="basic-addon1" readonly="readonly" id="rollOutput">
            </div>
        </div>
    </div>

</div>